@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* 
*{
  font-family: "Montserrat",sans-serif;
} */

.example-container {
  height: calc(100vh - 80px);
  overflow-y: scroll;
}
.NameClass {
  color: black;
  font-size: 16px;
}
.cWhite {
  color: white;
}

.heading {
  color: white;
  font-size: 32px;
  font-weight: 700;
  justify-content: center;
}

.centering {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.roomName {
  font-weight: 600;
  font-size: 16px;
}

.roomDetails {
  border-radius: 16px;
  /* background-color: rgb(255, 255, 255,0.9);  */
  margin-bottom: 24px;
}

.example-table-container {
  position: relative;
  overflow: auto;
}

table {
  margin-left: 16px;
  width: 100%;
}

.button-row {
  margin: 10px 0;
  display: flex;
}
.add-button {
  margin: 8px 16px;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}
