.heading {
  text-align: center;
  margin-bottom: 16px;
}

.groupNameBox {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 8px;
}

.groupName {
  color: black;
  font-size: 16px;
}

.groupInput {
  border-radius: 4px;
  padding: 6px;
  border-width: 1px;
}

.multiSelectBox {
  border-radius: 4px;
  border-style: solid;
  border-width: thin;
  border-color: black;
  margin: 4px 0px;
}

.createBtn {
  color: white;
  font-weight: 500;
  cursor: pointer;
  margin-top: 24px;
  padding: 10px 0px;
  border-style: solid;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  background-color: #001529;
}

.show-error {
  border: 2px solid red;
}
